
---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


/* Our variables
$base-font-family: 'Lato', sans-serif;

$text-color:       #808c93;
$header-color:	   #292e31;
$background-color: #fdfdfd;
$dark-blue:        #009FE3;
$light-blue:	   #83CDDB;
$purple:		   #5146BE;
$icon-blue:        #009FE3; 
$bg-blue:		   #0F1649;*/





h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: red;
}
p {font-family: 'Lato', sans-serif;
color: #6f7c82;
font-size: 1.1rem;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #292e31;
}
.pagewrap {
	margin-top: 50px;
}
@media only screen and (min-width: 993px){.container{width:90%;}}
nav{
	z-index: 999999;
}
.specs>div>i {
	font-size: 6rem;
	color: #009FE3;
	text-align: center;
	display: inherit;
	padding-bottom: 1rem;
} 
h4{
	padding-bottom: 1rem;
}

.pagewrap {
	background-color: #f8fafb;
}

.btn-large, .btn-large:hover, .btn-large:focus {
  background-color: #009FE3 !important;
}
.service-btn {
  margin-bottom: 6rem;
}

/*-----------VIDEO---------*/
.vidcontainer {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(/images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;


}
.homewrap {
  margin-top: 12rem;
}
.get-started {
  display: block;
  margin-right: auto;
  margin-left: auto;
}



 /*-------------------------SLIDES----------*/
.owl-nav div {
  position: absolute;
}
p.slide-p {
	color: white;
}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
 
.owl-nav .owl-prev{
  top: 50%; 
  left:0.4rem;
  color: red;
}
 
.owl-nav .owl-next{
  top: 50%;
  right:0.4rem;
}

.first-slide{

	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(/images/doki.png);
}
.second-slide{
	background:  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(/images/medcare3.png);

}
.third-slide {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(/images/sauna2.jpg);
	background-position-y: 14%;
}
.fourth-slide{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(/images/girl.jpg);
	background-position-y: 21%;
}
.slide{
	height: 30rem;
	width: 100%;
	background-size:cover;
	background-repeat: no-repeat;
	}
.slide-text {
	color: #fff;
  margin-top: 5rem;
}
.hero-text {
	color: #fff;
	z-index: 4;
}
svg.chevron-right{
	width: 10%;
	float: right;
	fill: white;
	opacity: 0.3;
}
svg.chevron-left {
	width: 10%;
	fill: white;
	opacity: 0.3;
}


@media only screen and (min-width : 900px) {
 .second-slide {background-position: 0px -6.875em;}
 .slide-text {
 	padding-top: 8rem;
	padding-right: 5.5em;
	padding-left: 4.7em;
 }
}
@media only screen and (max-width: 900px) {
	.slide-text {
		padding-top:3rem;
	}
}
@media only screen and (max-width : 550px) {
	.slide-p {
		margin-left: 0;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		text-align: center;
	}
	.slide{height:14rem;
	}
	.hero-text{padding-top: 1rem;}
	.slide-text {
    margin-top: -1rem;
		padding-top: 0;
		bottom: 1rem;
	}
}
 .no-overflow{
  	overflow: hidden;
  }
  .owl-carousel {
  	margin-bottom: 2rem;
  }
 /*-------------------------SLIDES END----------*/

/*------------------FORM-----------*/
.modal, .modal.bottom-sheet{
  max-height: 90%
}
.modal .modal-content {
padding-top:10px!important;}
.submit {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1rem;
}
.contact-h {
  margin-top: 3rem;
}
.contact-img {
  margin-top: 2rem;
  max-width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.thanks{
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 20rem;
}
.dropdown-content li>a, .dropdown-content li>span {
color: #009FE3!important;}
[type="radio"].with-gap:checked+label:before {
border-color: #009FE3!important;}
[type="radio"].with-gap:checked+label:after {
border-color: #009FE3!important;
background-color: #009FE3!important;
                                }
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #009FE3!important;
    box-shadow: 0 1px 0 0 #009FE3!important;
}
                                
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #009FE3!important;
}













 
 /*-------------------SERVICES---------*/
.serv-icons {
  width: 5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.margin-i {
  margin-left: 32%;
}
@media only screen and (max-width: 900px) {
  .margin-i {
  margin-left: 40%;
}
}
@media only screen and (max-width: 550px) {
  .margin-i {
  margin-left: 43%;
}
}

.left1 {
	border-right: 1px solid #efeff1;
}
.left2 {
	border-right: 1px solid #efeff1;
	position: relative;
}
.left1, .left2, .right1, .right2 {
  margin-top: 2%;
}
/*.serv-p {
  padding-right: 10px;
  padding-left: 10px;
}*/

.no-padding {
	padding-left: 0;
	padding-right: 0;
}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }
hr {
  max-width: 75rem;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #cacaca;
  border-left: 0;
  margin: 1.25rem auto;
  clear: both; }
.col {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
  width: 100%;
  float: left; }
  @media screen and (min-width: 40em) {
    .col {
      padding-left: 0.9375rem !important;
      padding-right: 0.9375rem !important; } }
/*---------HOMEPAGE------------*/

.banner {
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16rem;
    height: auto;
    box-shadow: inset 0 0 300px 200px rgba(0,0,0,.01);
}
.hospital-i {
  margin-right: 1.5rem;
  width: 5rem;
}
.banner-text {
    text-shadow: #009FE3 0 0 2px;}
.light-blue {
    color: #83cddb;
    background-color: transparent !important;
}
.blue {
    color: #009FE3;
    background-color: transparent !important;
}
.logo-text{
font-size: 5rem;
font-weight: 900;
margin-bottom: -1rem;}
.get-started{margin-right: auto;
margin-left: auto;
display: block;}
.about-p {
	font-size: 1.1rem;
}
@media only screen and (max-width: 550px){
	.logo-text {
		font-size: 3rem;
	}
	.logo-h2 {
		font-size: 2.3rem;
	}
}
#get-started h2 {
  padding-bottom: 1.5rem;
}
.lb {
	color:#009FE3;

}
.about {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.about-icon {
  width: 10rem;
  border-radius: 100%;
  padding: 1.3rem;
  border: 5px solid #009FE3;
}
.about-h {
  text-align: justify;
  margin-top: 0rem;
}
@media only screen and (max-width: 550px) {
  .about-h {
    text-align: center;
  }
  .about-icon {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 950px) {
.about-cont {
  margin-left: -3rem !important;
}
}
.basic-serv {
  width: 6rem;
}

/*----------PLANS-------*/
.plan-bg{
	background-color: #f8fafb;
}
.plan-i {margin-top: -1.2rem;
width: 7rem;}

.crowns {
	width: 10rem;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
}
h2.plan-h2{
	margin-top: -1.5rem;
}
ul.plans{list-style: none;}



li.plan-li {
  padding-bottom:0.3rem;
}
li.plan-li {
  display: list-item;
}
li.plan-li > i.fa {
  color: #009FE3;
}

.price {
	position: relative;
	margin-bottom: 40px;
}
@media only screen and (min-width : 550px) {
	.price:not(:last-child):after {
		content: '';
		position: absolute;
		height: 70%;
		top: 18%;
    left:100%;
		bottom: -20px;
		border-right: 1px solid #efeff1;
	}
}
li.plan-li {
    text-align: center;
  }

ul.plans.premium > li:not(:first-child) {
	margin-top: 1.5rem; 
}
 @media only screen and (max-width: 900px) {
  li.plan-li {
    background-image: none;
    padding-left: 0;
  }
  .price {
    border-bottom: 1px solid #efeff1;
  }

 h2.center-align.lb.plan-h2 {
  margin-top: 0;
 }
  ul.plans {
    margin-left: 0;
  }

 }




/*----------------STEPS---------------*/
section {
	padding-bottom: 3rem;
  margin-left: 1rem;
}
.steps-section h2 {
  padding-bottom: 3rem;
}
.section-header, .steps-header, .steps-name {
  color: #009FE3;
  font-weight: 400;
  font-size: 1.4em;
}

.steps-header {
  margin-bottom: 20px;
  text-align: center;
}

.steps-timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}
@media screen and (max-width: 650px) {
  .steps-timeline {
    border-left: 3px solid #009FE3;
    margin-left: 25px;
  }
}
@media screen and (min-width: 650px) {
  .steps-timeline {
    border-top: 3px solid #009FE3;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 8%;
  }
}
.steps-timeline:after {
  content: "";
  display: table;
  clear: both;
}

.steps-one,
.steps-two,
.steps-three,
.steps-four,
.steps-five,
.steps-six {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
@media screen and (max-width: 650px) {
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five,
  .steps-six {
    margin-left: -25px;
  }
}
@media screen and (min-width: 650px) {
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five,
  .steps-six {
    float: left;
    width: 12%;
    margin-top: -50px;
  }
}

@media screen and (max-width: 650px) {
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five,
  .steps-six {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 650px) {
  .steps-one {
    margin-left: -8%;
    margin-right: 8%;
  }
}

@media screen and (min-width: 650px) {
  .steps-two {
    margin-right: 8%;
  }
}

@media screen and (min-width: 650px) {
  .steps-three {
    margin-right: 8%;
  }
}

@media screen and (min-width: 650px) {
  .steps-four {
    margin-right: 8%;
  }
}

@media screen and (max-width: 650px) {
  .steps-six {
    margin-bottom: -100%;
  }
}
@media screen and (min-width: 650px) {
  .steps-six {
    margin-left: 8%;
    margin-right: -8%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #009FE3;
}
@media screen and (max-width: 650px) {
  .steps-img {
    float: left;
    margin-right: 20px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}

@media screen and (min-width: 650px) {
  .steps-name {
    text-align: center;
  }
}

.steps-description {
  overflow: hidden;
}
@media screen and (min-width: 650px) {
  .steps-description {
    text-align: center;

    width: 150%;
    margin-left: -25%;

  }
  p.steps-description.first-step-description {
  	margin-left: -8%;padding-left: -25%;padding-right: 20%;
  }
}


/*-----------------NETWORK----------------*/
.map {
  height: 100%;
}

.body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-linear-gradient(#83CDDB, transparent), -webkit-linear-gradient(0deg, #0F1649, transparent), -webkit-linear-gradient(180deg, #009FE3, transparent);
  background: linear-gradient(#83CDDB, transparent), linear-gradient(90deg, #0F1649, transparent), linear-gradient(-90deg, #009FE3, transparent);
  background-blend-mode: screen;
}
.chevron-down {
  width:3rem;
}
.nurse {
  margin: auto;
  display: block;
  width: 10rem;
}
.handshake {
  width: 13rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  z-index: 3;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 70%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
.int-bsns {
  width: 7rem;
}
.placeholder {
  height: 20rem;
}
h3.grey-text {
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    box-shadow: 0 0 0 50px rgba(78, 76, 93, 0);
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 0 0 0 rgba(78, 76, 93, 0);
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    box-shadow: 0 0 0 50px rgba(78, 76, 93, 0);
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 0 0 0 rgba(78, 76, 93, 0);
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
}
div.bg {
  position: absolute;
  z-index: 1;
  width: .001vmin;
  height: .001vmin;
  border-radius: 50%;
  opacity: .45;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
div.bg:nth-child(2) {
  box-shadow: 0 0 45vmax 45vmax #ff00ff;
  -webkit-animation: hue 5s 0s linear infinite, move1 10s 0s linear infinite;
          animation: hue 5s 0s linear infinite, move1 10s 0s linear infinite;
}
div.bg:nth-child(3) {
  box-shadow: 0 0 45vmax 45vmax rgba(0, 0, 0, 0.5);
  -webkit-animation: hue 10s 0s linear infinite, move2 15s 0s linear infinite;
          animation: hue 10s 0s linear infinite, move2 15s 0s linear infinite;
}
div.bg:nth-child(4) {
  box-shadow: 0 0 45vmax 45vmax #00ffff;
  -webkit-animation: hue 15s 0s linear infinite, move3 20s 0s linear infinite;
          animation: hue 15s 0s linear infinite, move3 20s 0s linear infinite;
  opacity: .2;
}

@-webkit-keyframes hue {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 0%;
    left: 50%;
  }
  25% {
    left: 0%;
  }
  50% {
    top: 100%;
  }
  75% {
    left: 100%;
  }
  100% {
    top: 0%;
    left: 50%;
  }
}
@keyframes move1 {
  0% {
    top: 0%;
    left: 50%;
  }
  25% {
    left: 0%;
  }
  50% {
    top: 100%;
  }
  75% {
    left: 100%;
  }
  100% {
    top: 0%;
    left: 50%;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 50%;
    left: 100%;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 0%;
  }
  75% {
    top: 0%;
  }
  100% {
    top: 50%;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    top: 50%;
    left: 100%;
  }
  25% {
    top: 100%;
  }
  50% {
    left: 0%;
  }
  75% {
    top: 0%;
  }
  100% {
    top: 50%;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    top: 100%;
    left: 50%;
  }
  25% {
    left: 100%;
  }
  50% {
    top: 0%;
  }
  75% {
    left: 0%;
  }
  100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes move3 {
  0% {
    top: 100%;
    left: 50%;
  }
  25% {
    left: 100%;
  }
  50% {
    top: 0%;
  }
  75% {
    left: 0%;
  }
  100% {
    top: 100%;
    left: 50%;
  }
}
.world {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 1.5rem;
}
.network-wrap {
	z-index: 1;
	background-color: #fff;
	position: relative;
  padding-top: 30px;
}
.network-h2, .network-h3 {
	color: white;
	text-shadow: 1px 0 0 #0F1649;
	background: transparent;
	position: relative;
	z-index: 1;
}
@media only screen and (min-width: 960px) {
  h2.network-h2 {font-size: 2.5rem;}
}

.network-h2 {

	padding-top: 0rem;
}
.network-h3 {

	padding-top: 2rem;
}

@media only screen and (max-width: 550px) {
  .world {padding-top: 2rem;
    position: absolute;
    width: 25rem;}
  .network-h2 {
    margin-top: 0;
    padding-top: 2rem;
  }
}
@media (max-width:900px) and (min-width:550px) {
  .network-h2 {padding-top: 5rem;}
}



/*---------FOOTER-------*/
.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #0F1649;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  text-align: center;
  color: #fff;
  border-top: 3px solid #CACACA;
}
.footer i {
  font-size: 1.2rem;
}

.footer h4 {
  color: #fff;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}
i.big-fa{
	font-size: 4rem;
}
.footer-logo{
	max-width: 8rem;
}
.footer-links {
  list-style-type: none;
}
.footer-links {
  margin-top: .5em;
}
                                                                                       footer.footer > div.row {
 margin-bottom:0;}
                                                                                                                                                                               
@media only screen and (max-width: 900px) {
footer {display:none;}
}


/*----------NAVBAR LOGO---------*/
#logo-notext{
	width: 2.8rem;
    height: auto;
    margin-top: -1rem;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 0;}
 #logo-text {
 	width: 10rem;
    padding-left: 0.2rem;
    height: auto;
 }
.menu-padding {
	padding-top: .5rem;
}

/*I figured it has something to do with line height so I copied it from semantic, still not the same */

nav, nav i, nav a {
  line-height: 1.4285em;
} {line-height:1.4285em;}

/*=============NAVBAR STARTS HERE=============*/


nav {
  display: block;
}
nav ul a:hover {
  background-color: transparent!important;
}
nav ul a:focus, nav ul a:active {
  border: none!important;
}


.first-container {
  margin-top: 50px;
}

nav#navigation {
  width: 100%;
  top: 0;
  left: 0;
/*  
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0)));
 
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
 
  background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);

  background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
 
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );*/
  
/*  box-shadow: none;*/

background: white;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}


nav#navigation .nav-trigger {
  /*line-height: 23.3333px;*/
  display: none;
  position: absolute;
  top: -3px;
  left: 50%;
  margin-left: -23.5px;
  background: #009FE3;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  z-index: 11;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

nav#navigation ul li:first-child {
  float: left;
}

nav#navigation ul li:not(:first-child) {
  float: right;
}

nav#navigation ul li {
 /* line-height: 20px;*/
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

nav#navigation ul li i.fa {
  margin-left: 8px;
}

nav#navigation ul li a {
  display: inline-block;
  color: #009FE3;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
}

nav#navigation ul li a:last-child {
  margin-right: 1.5em;
}

nav#navigation ul li a:active {
  border: 1px solid #F2FAFB;
}

.call .fa,
.email .fa {
  color: #FFF;
  font-size: 25px;
}

.call,
.email {
  display: none;
}

.call {
  margin: 12px 0 0 7.5%;
}

.email {
  margin: 10px 7.5% 0 0;
}
/*@media only screen and (max-width : 900px) {*/
/*=============NAVIGATION STARTS HERE=============*/

/*  nav#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background: #0F1649;
    z-index: 7777;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
  }

  .first-container {
    margin-top: 50px;
  }

  ul.menu {
    margin-top: 0;
    padding-left: 0;
  }

  nav#navigation ul li a:last-child {
    margin-right: 0em;
  }

   nav#navigation ul li {
  width:15%
  }

  nav#navigation ul li a {
    font-size: 1rem;
    padding: 15px;
    padding-top: 10px;
  }
  #logo-text {
    width: 6rem;
  }
  #logo-notext {
    width: 1.8rem;
  }

  nav#navigation ul li:first-child {
    padding: 0px;
    padding-left: 5px;
  }

  nav#navigation ul li a#logo {
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
  }
}*/
@media only screen and (max-width:550px) {
    nav#navigation {
        background: #0F1649;
        box-shadow: 0 0 3px rgba(0, 0, 0, .5);
        top: auto;
        bottom: 0
    }

    .container {
        margin-top: 0
    }
    #logo {
        margin-left: -20px;
        padding-bottom: 3px!important
    }
    .banner {
        width: 15rem
    }
    nav#navigation .nav-trigger:before {
        font-family: FontAwesome;
        content: '\f0c9';
        color: #fff;
        width: 25px;
        text-align: center;
        display: block;
        height: 27px;
       
   		padding-top: 13px;
    	padding-bottom: 5px;
    	padding-left: 10px;
   		padding-right: 10px;
        font-size: 24px;/*
        line-height: 20px;*/
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transition: -webkit-transform .3s;
        transition: transform .3s;
        text-indent: 0;
        float: left;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
   nav#navigation .nav-trigger.open:before {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        -webkit-backface-visibility: visible;
        backface-visibility: visible
    }
    nav#navigation .nav-trigger {
        display: block
    }
    nav#navigation .nav-trigger:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, .25);
        /*background: #0F1649*/
    }
    nav#navigation .nav-trigger span {
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        top: 18px;
        left: 50%;
        margin-left: -10px;
        -webkit-transition: background .5s;
        transition: background .5s
    }
    .nav-trigger span:after,
    nav#navigation .nav-trigger span:before {
        content: '';
        position: absolute;
        left: 0;
        background: inherit;
        width: 100%;
        height: 100%;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: transform .5s;
        transition: transform .5s
    }
    nav#navigation .nav-trigger span:before {
        top: -6px;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    nav#navigation .nav-trigger span:after {
        bottom: -6px;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    nav#navigation .nav-trigger.open span {
        background: hsla(0, 0%, 100%, 0)
    }
    .nav-trigger.open span:after,
    nav#navigation .nav-trigger.open span:before {
        background: #fff
    }
    nav#navigation .nav-trigger.open span:before {
        top: 0;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    nav#navigation .nav-trigger.open span:after {
        bottom: 0;
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    nav#navigation ul {
        width: 100%;
        position: absolute;
        bottom: -340px;
        background: #0F1649;
        box-shadow: 0 0 10px rgba(0, 0, 0, .6);
        z-index: 4;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    nav#navigation ul.is-visible {
        bottom: 53px;
    }
    nav#navigation ul.is-visible li a {
        visibility: visible;
    }
    nav#navigation ul li {
        width: 100%;
        border-bottom: 1px solid rgba(114, 104, 216, .51);
    }
    nav#navigation ul li:last-child {
        border: 0;
    }
    nav#navigation ul li:last-child a {
        padding-bottom: 20px;
    }
    nav#navigation ul li a {
        font-size: 16px;
    }
    nav#navigation ul li.last a {
        background: none;
        border: 0;
        display: block;
        padding: 15px 0;
        color: #fff;
        font-size: .8em;
    }
    nav#navigation ul li.last a:hover {
        border: 0;
    }
    #down {
        margin-left: .5rem!important;
    }
    div#navigationBox {
        width: 100%;
        height: 38px;
        padding: 5px 0 15px;
        z-index: 6;
        position: relative;
        background: #0F1649;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    #navigation > ul > li > a {
        color: white !important;
    }
    #navigation > ul > li > a > i {
      height: initial;
    }
    .navbar-fixed {
      margin-bottom: -4rem!important;
    }
    .call,
    .email {
        display: inline-block;
    }
    .call span,
    .email span {
        display: none;
    }
    .call {
        float: left;
    }
    .email {
        float: right;
    }
    ul.menu.is-visible {
        margin-bottom: 0;
        box-sizing: initial!important;
        padding-left: 0;
    }
    nav#navigation ul li a:active {
        border: none;
    }
    nav#navigation {
        box-sizing: initial!important;
    }
    footer {
        padding: 25px 0 78px;
    }
}
@media (max-width:900px) and (min-width:550px) {
nav#navigation ul li a {
    margin-right: 0em!important;
 font-size:1.2rem;                                                                                                                                                                                                  
                                                                                                                                                                                                                                      } }
                                                                                                                                                                                                                              
                                                                                                                                                                                                                                      
/*-------------------NAVBAR ENDS----------------*/




/*------------------EKG---------------*/
svg {
    width: 100%
}

.stroke {
    stroke: #0F1649;
    fill: none;
    stroke-width: 3.5px
}

.stroke.aboutus {
    stroke: #0F1649;
}

.ekg-animate {
    stroke-dasharray: 5366, 5365;
    animation: b 10s linear
}

@keyframes b {
    to {
        stroke-dashoffset: 0
    }
    0% {
        stroke-dashoffset: 5366
    }
}

.svgwrap {
    background: #f5f5f5
}
