<footer class="ui inverted vertical footer segment site-footer">
    <div class="ui mobile-stackable grid" id="servgrid">
    <div class="four wide column">
      <a href="http://goforcare.co/index.html"><img class="footer-logo" src="/images/logo_goforcare.svg" class="ui centered small image"></a>
     </div>
     <div class="four wide column footer-list">
        <h5 class="footer-header">Services</h5>
        <ul>
            <li>Medical Services</li>    
            <li>Wellness Services</li>
            <li>Tourism Services</li>
        </ul>
    </div>
    <div class="four wide column footer-list">
        <h5 class="footer-header"><i class="mail icon mini" style"margin-top: -3px;"></i>Contact Us</h5>
        <li><a class="item" href="tel:+18882266205"><i class="phone icon mini"></i> +1 8882266205</a></li>
        <li><a class="item" href="tel:+5766373838383"><i class="phone icon mini"></i> +57 66373838383</a></li>
        <li><a class="item" href="{{ site.email }}">{{ site.email }}</a></li>
      </div>
      <div class="four wide column">
          
          <a href="http://medicaltourismassociation.com"><img class="footer-logo" src="/images/MTA_0423_MTA_LOGO_L2016_MEMBER.png" class="ui centered small image"></a>
          </div>
    </div>
  </footer>



    <!-- Core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


     <script type="text/javascript">
  //Mobile Menu
jQuery(document).ready(function($){
  var navigation = $('#navigation'),
  main = navigation.find('ul.menu');
  $('.nav-trigger').on('click', function(){
    $(this).toggleClass('open');
    main.off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend').toggleClass('is-visible');
  });


});
</script>


<script type="text/javascript">

$(document).ready(function(){

    var defHeight = $('.def-height').css("height");

    $( window ).on("resize", function() {
       defHeight = $('.def-height').css("height");
    });
    if ($(window).width()  > 899) {
            $('.same-height').css('height', defHeight);
        }
    });
</script>
<script type="text/javascript">
  $(document).ready(function() {
  
  $('#path').on("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd",
 function(ekg){
    // do something here
    $(this).attr('class', 'no-stroke');
  setTimeout( function(){ 
    // Do something after 1 second 
    $('#path').attr("class", "ekg-animate");
  }  , 2000 );
  
 });
  ekg();
});
</script>
