<header class="site-header">

   
    <!--Where the magic happens-->
    <div class="navbar-fixed">
    <nav id="navigation">
      <div id="navigationBox">
        <div class="call">
          <a href="tel:+18882266205" title="Call Us"><i class="fa fa-phone"></i><span>Call Us</span></a>
        </div>
        <div class="nav-trigger">
          Menu
        </div>
        <div class="email">
          <a href="mailto:contact@goforcare.co" title="Email Us"><i class="fa fa-envelope"></i><span>Email Us</span></a>
        </div>
      </div>
      <ul class="menu">
        <li><a id="logo" href="{{ site.baseurl }}/travel"><img id="logo-notext" class="ui image logos" src="/images/logo_notext.svg"><img id="logo-text" class="ui image logos" src="/images/logo_text2.svg"></a></li>
        <li id="nav-last" class="menu-padding"><a href="mailto:contact@goforcare.co" title="Contact"><i class="fa fa-envelope"></i>&nbspContact</a></li>
        <li class="menu-padding"><a href="http://goforcare.co" title="GoForCare Healthcare"><i class="fa fa-stethoscope"></i>&nbspGFC Healthcare</i></a></li>
        <li class="menu-padding"><a class="dropdown-button destination" href="#destinations" title="Destinations" data-beloworigin="true" data-activates='dropdown1'><i class="fa fa-map-signs"></i>&nbsp Destinations</a>
                <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content destination'>
                 <li><a href="/travel/brasil">Brazil</a></li>
                <li><a href="/travel/canada">Canada</a></li>
                <li><a href="/travel/colombia">Colombia</a></li>
                <li><a href="/travel/europe">Europe</a></li>
                <li><a href="/travel/mexico">Mexico</a></li>
                <li><a href="/travel/peru">Peru</a></li>
                <li><a href="/travel/puerto_rico">Puerto Rico</a></li>
                <li><a href="/travel/punta_cana">Punta Cana</a></li>
                <li><a href="/travel/usa">United States</a></li>
              </ul>
        </li>
                    
        
      </ul>
    </nav>
    </div>
</header>

