<header class="site-header">
<div id="container">
   
    <!--Where the magic happens-->
    <div class="navbar-fixed">
    <nav id="navigation">
      <div id="navigationBox">
        <div class="call">
          <a href="tel:+18882266205" title="Call Us"><i class="fa fa-phone"></i><span>Call Us</span></a>
        </div>
        <div class="nav-trigger">
          Menu
        </div>
        <div class="email">
          <a class="modal-trigger" href="#modal1" title="Email Us"><i class="fa fa-envelope"></i><span>Email Us</span></a>
        </div>
      </div>
      <ul class="menu">
        <li><a id="logo" href="{{ site.baseurl }}/"><img id="logo-notext" class="ui image logos" src="/images/logo_notext.svg"><img id="logo-text" class="ui image logos" src="/images/logo_text2.svg"></a></li>
        <li id="nav-last" class="menu-padding"> <a href="http://goforcare.co{{page.trans}}" title="Español">
         <div class="chip">
           <img src="/images/spain.png" alt="Español">
              Español
          </div>
        <li class="menu-padding"><a class="modal-trigger" href="#modal1" title="Contact"><i class="fa fa-envelope"></i>&nbspContact</a></li>
        <li class="menu-padding"><a href="/network/" title="Network"><i class="fa fa-globe"></i>&nbspNetwork</i></a></li>
        <li class="menu-padding"><a href="/services/" title="Services"><i class="fa fa-medkit"></i>&nbspServices</a></li>
        
        
      </ul>
    </nav>
    </div>
</div>
</header>

{% include contact.html %}
