<header class="site-header">

     <div class="container">
   
    <!--Where the magic happens-->
    <nav id="navigation">
      <div id="navigationBox">
        <div class="call">
          <a href="tel:+18882266205" title="Call Us"><i class="fa fa-phone"></i><span>Call Us</span></a>
        </div>
        <div class="nav-trigger">
          Menu
        </div>
        <div class="email">
          <a href="mailto: contact@goforcare.co" title="Email Us"><i class="fa fa-envelope"></i><span>Email Us</span></a>
        </div>
      </div>
      <ul class="menu">
        <li><a id="logo" href="{{ site.baseurl }}/"><img id="logo-notext" class="ui image logos" src="/images/logo_notext.svg"><img id="logo-text" class="ui image logos" src="/images/logo_text2.svg"></a></li>
        <li><a href="/about/" title="About">About Us<i class="fa fa-university"></i></a></li>
        <li><a href="/services/" title="Services">Services<i class="fa fa-medkit"></i></a></li>
        <li><a href="/network/" title="Network">Network<i class="fa fa-wifi"></i></a></li>
        <li><a href="mailto:contact@goforcare.co" title="Contact">Contact<i class="fa fa-envelope"></i></a></li>
      </ul>
    </nav>
  </div>

</header>
