<div class="plan-container wow fadeIn">
<h2 class="center-align wow fadeIn"><img class="plan-i" src="/images/bag.svg">
Nuestras ofertas</h2>
<hr>
<div class="row">


  <div class="col s12 m12 l4 columns price" data-equalizer-watch>
  <img class="crowns" src="/images/crown1-lb.svg">
  <h2 class="center-align plan-h2">
    Bronce</h2>
   <div class="s12 col">
  <ul class="plans premium">
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Reservación de hotel boutique
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
         Equipo de recuperación(Enfermeras, fisioterapeutas, nutricionistas, etc)
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp Servicios de interprete durante chequeos, tratamientos, citas médicas
        </li>
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Transporte terrestre
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Actividades turísticas locales
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
       Traducción del reporte médico final
        </li>
      <!-- <div class="s12 col center-align supp">
      <li class="plan-li support second-supp">
       <h5>Constant contact with support</h5>
      </li>
      </div> -->
       
    </ul class="plans">
   
</div></div>
  
  <div class="divider hide-on-large-only"></div>
  <div class="col s12 m12 l4 columns price" data-equalizer-watch>
  <img class="crowns" src="/images/crown2-lb.svg">
  <h2 class="center-align plan-h2">
    Oro</h2>
   <div class="s12 col">
  <ul class="plans premium">
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
       TODOS los servicios de BRONCE
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
         Actividades turísticas regionales
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Portafolio de hoteles de lujo y exclusivos
        </li>
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Reservación en restaurantes de lujo
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Aventuras al aire libre - caminatas ecológicas
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Rutas culturales (museos, galerías, exhibiciones)
        </li>
      <!-- <div class="s12 col center-align supp">
      <li class="plan-li support second-supp">
       <h5>Constant contact with support</h5>
      </li>
      </div> -->
       
    </ul class="plans">
   
</div></div>
    <div class="divider hide-on-large-only"></div>
  

  <div class="col s12 m12 l4 price" data-equalizer-watch>
  <img class="crowns" src="/images/crown3-lb.svg">
  <h2 class="center-align plan-h2">
     Diamante</h2>
   <div class="s12 col">
  <ul class="plans premium">
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
       TODOS los servicios de ORO
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
         Actividades de turismo nacional<span class=".hide-on-large-only"><br></span> (Cartagena, Santa Marta, San Andrés)
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Actividades culturales (teatro musicales)
        </li>
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
         Reservación de limusinas 
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Actividades al aire libre (golf, rafting, etc.)
        </li>
      <!-- <div class="s12 col center-align supp">
      <li class="plan-li support third-supp">
        <h5>Constant contact with support</h5>
      </li>
      </div> -->
      
     
    </ul class="plans"></div></div>
    </div>
    <div class="center-align">
  <a class="modal-trigger" href="#modal1"><button class="waves-effect waves-light btn-large service-btn">Obten una cotización</button></a>
  </div>
</div>
