<h3 class="ui horizontal divider">Our Offers</h3>

<div class="ui three column stackable grid" id="planwrap" style="
    display: 
    -webkit-flex;
    display: 
    -ms-flexbox;
    display: flex;
    overflow: hidden;
">
  <div class="column">
  <div class="package def-height">
    <div class="name">Bronze</div>
    <div class="trial">Simple</div>
    <hr>
    <ul>
    <div class="ui two column relaxed grid">
    <div class="column">
      <li>
        Request of <strong>first</strong> opinion
      </li>
      <li>
        <strong>Boutique</strong> hotel reservation
      </li>
      <li>
        <strong>Flight</strong>
         tickets reservation
      </li>
        <li>
        Airport – hotel – airport
        <strong>transfer</strong>
      </li>
      <li>
        <strong>Recovery support team (nurses, physiotherapists, nutritionists, etc.)</strong>
        </li>
     
      </div>
      <div class="column">
      <li>
        <strong>Interpreting</strong> services during checkups 
      </li>
      <li>
        <strong>Final medical report</strong> translation 
      </li>
       <li>
        Inland transport 
      </li>
      
        <li>
        <strong>Local</strong> tourism activities arrangement
      </li>
      <li>
       <strong>Mobile phone</strong>
      </li>
      <li>
       Constant <strong>contact with support</strong>
      </li>
      </div>
      </div>

    </ul>
  </div>
  </div>
  <div class="column">
  <div class="package brilliant same-height">
    <div class="name">Gold</div>
    <div class="trial">Prestigious</div>
    <hr>
    <ul>
      <li>
        <strong>All services from the BRONZE package</strong>
      
      </li>
      <li>
        <strong>Regional</strong> tourism
         activities
      </li><li>
        Portfolio of <strong>luxury and exclusive</strong>
         hotels
      </li>
      <li>
        Luxury <strong>restaurants</strong> reservation
      </li>
      <li>
        Outdoor <strong>adventures</strong> – ecological walks
      </li>
      <li>
      <strong>Cultural</strong> routes (museums, galleries, exhibits)
      </li>
    </ul>
  </div>
  </div>
  <div class="column">
  <div class="package same-height">
    <div class="name">Diamond</div>
    <div class="trial">Luxury</div>
    <hr>
    <ul>
      <li>
        <strong>All services from the GOLD package</strong>
      </li>
      <li>
        <strong>National</strong>
         tourism activities arrangement <strong>(Cartagena, Santa Marta, San Andrés)</strong>
      </li>
      <li>
        <strong>Cultural activities</strong>
         (Theatre, musicals)
      </li>
      <li>
        <strong>Limousines reservation</strong>
      </li>
      <li>
        <strong>Outdoor activities</strong> (e.g. golf, rafting, etc)
      </li>


    </ul>
  </div>
</div>
</div>
<div id="planaddclass"></div>


</div>
