<div class="plan-container wow fadeIn">
<h2 class="center-align wow fadeIn"><img class="plan-i" src="/images/bag.svg">
Our Offers</h2>
<hr>
<div class="row">


  <div class="col s12 m12 l4 columns price" data-equalizer-watch>
  <img class="crowns" src="/images/crown2-lb.svg">
  <h2 class="center-align plan-h2">
    Bronze</h2>
   <div class="s12 col">
  <ul class="plans premium">
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Boutique hotel reservation
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
         Recovery support team(nurses, physiotherapists, nutritionists, etc.)
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp Interpreting services during checkups, treatments, appointments
        </li>
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Inland transport
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Local tourism activities arrangement
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Final medical record translation
        </li>
      <!-- <div class="s12 col center-align supp">
      <li class="plan-li support second-supp">
       <h5>Constant contact with support</h5>
      </li>
      </div> -->
       
    </ul class="plans">
   
</div></div>
  
  <div class="divider hide-on-large-only"></div>
  <div class="col s12 m12 l4 columns price" data-equalizer-watch>
  <img class="crowns" src="/images/crown2-lb.svg">
  <h2 class="center-align plan-h2">
    Gold</h2>
   <div class="s12 col">
  <ul class="plans premium">
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
       All services from the BRONZE package
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
         Regional tourism activities
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Portfolio of luxury and exclusive hotels
        </li>
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Luxury restaurants reservation
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Outdoor adventures – ecological walks
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Cultural routes (museums, galleries, exhibits)
        </li>
      <!-- <div class="s12 col center-align supp">
      <li class="plan-li support second-supp">
       <h5>Constant contact with support</h5>
      </li>
      </div> -->
       
    </ul class="plans">
   
</div></div>
    <div class="divider hide-on-large-only"></div>
  

  <div class="col s12 m12 l4 price" data-equalizer-watch>
  <img class="crowns" src="/images/crown3-lb.svg">
  <h2 class="center-align plan-h2">
    Diamond</h2>
   <div class="s12 col">
  <ul class="plans premium">
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
       All services from the GOLD package
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
         National tourism activities arrangement<span class=".hide-on-large-only"><br></span> (Cartagena, Santa Marta, San Andrés)
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Cultural activities (Theatre, musicals)
        </li>
     
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
         Limousines reservation
        </li>
      
      <li class="plan-li"><i class="fa fa-check"></i> &nbsp
        Outdoor activities (e.g. golf, rafting, etc)
        </li>
      <!-- <div class="s12 col center-align supp">
      <li class="plan-li support third-supp">
        <h5>Constant contact with support</h5>
      </li>
      </div> -->
      
     
    </ul class="plans"></div></div>
    </div>
    <div class="center-align">
  <a class="modal-trigger" href="#modal1"><button class="waves-effect waves-light btn-large service-btn">Get a quote now for our services</button></a>
  </div>
</div>

