---
layout: default
published: true
---

<!--=========================NETWORK=================================== -->

<!--Content-->
<div class="container centered">
  <div class="container">
 <h3 class="centered aboutus"> <i class="fa fa-wifi"></i> OUR NETWORK </h3>
<h5 class="centered aboutus">Get to know our quality partners</h5>
  </div>

<div id="network-bg">
  </div>
   </div>


<div class="aboutus pagewrap">
<div class="ui three column aboutus stackable grid">
  <div class="row">
  <div class="column aboutus">
  <i class=" aboutus fa fa-info"></i>
  <p class="aboutus">In Go For Care our most important goal is to offer the highest quality service you could imagine. For this reason we only partner with organizations that are up to fulfill our, and most importantly, your expectations. </p>
  </div>
  <div class="column aboutus">
  <i class=" aboutus fa fa-user-md"></i>
  <p class="aboutus">We have alliances with exceptional professionals in all medical fields, with pioneer private health service institutions, focused and committed to the high quality of care towards patients, guaranteeing the best service 24 hours a day.
</p>
  </div>
  <div class="column aboutus">
      <i class="aboutus fa fa-plane"></i>
    <p class="aboutus">We are lucky to count with the support of a travel agency organization that performs at an international level, which enables us to satisfy the specific needs of each patient and even make changes on short notice in a fast and flexible way, and therefore providing always the best alternative.
</p>
  </div>
  </div>
  <div class="row">
  <div class="column aboutus">
   <i class="aboutus fa fa-life-ring"></i>
  <p class="aboutus">We work with a travel agency specialized in tourism, offering fascinating and new experiences in Colombia, fulfilling the needs of patients who wish to take a well-deserved rest, know our country and live the unforgettable experiences it has to offer.</p>
  </div>
<div class="column aboutus">
 <i class="aboutus fa fa-bed"></i>
    <p class="aboutus">We also offer different top quality hotels, which are characterized by offering their comfort and customized care, with a complete portfolio of services such as accommodation, restaurant, room service, minibar, laundry, Wi-Fi and currency exchange, among others. This enables us to provide a variety of possibilities according to the needs of our patients. </p>
  </div>
  <div class="column aboutus">
 <i class="aboutus fa fa-globe"></i>
    <p class="aboutus">In GFC we aim to provide a complex service which allows you to focus on yourself, your well-being and rest, while we take care of all the other details. In this way you can make the best experience out of your stay with us.</p>
  </div>
  </div>
</div>
</div>
{% include ekg_svg.html %}
</div>
<div class="container" id="plan-bg">
{% include planselector.html %}
