---
layout: default_es
published: true
lang: es
trans: /
---







<!--Content-->
<div class="first-container centered">

 <div class="banner-text">
  <img class="banner" src="/images/logo_notext.svg">
  <h1 class="logo-text"><span class="light-blue">Go</span><span class="blue">For</span><span class="light-blue">Care</span></h1>
  <h2 class="blue logo-h2">Health Beyond Borders</h2>
  <a href="#get_started"><button class="btn-floating btn-large get-started waves-effect waves-light red"><i class="fa fa-chevron-down"></i>
  </button>
  </a>
</div>
<div class="vidcontainer"></div>
<!-- <video autoplay="" loop="" poster="assets/images/video/video-home.jpg" id="bgvid">
      <source src="assets/images/video/video-home.webm" type="video/webm">
      <source src="assets/images/video/video-home.mp4" type="video/mp4">
    </video> -->

</div>


 

</div>
<div class="homewrap">
<div class="container" id="get_started">
<!-- ===========================ABOUT US================================ -->
  
<h2  class="wow fadeIn"><img class="hospital-i" src="/images/hospital.svg">¿Quiénes somos?</h2>
<div class="divider"></div>
  <p class="center-align about-p wow fadeIn">Go For Care es una compañía dedicada a ofrecer asesoría integral, en la compra de servicios médicos y turísticos en Colombia, a personas que vivan fuera o dentro de nuestro país. Facilitamos la toma de decisiones, personalizando cada caso de acuerdo a las necesidades de nuestros clientes, generando un ambiente seguro y confiable. 

En Go For Care ponemos a disposición servicios de salud asequibles a pacientes de todas partes del mundo. Por medio de nosotros tendrás la posibilidad de acceder a una variedad de procedimientos a los cuales no tienes acceso o no puedes adquirir en tu país de residencia, al mismo tiempo que disfrutas de la belleza de nuestro país y nuestra gente. 
</p>
</div>
{% include ekg_svg.html %}
<div class="pagewrap" style="margin-top:0">
<div class="row about wow fadeIn">
          <div class="col s12 m3 center-align">
            <div class="image-container">
              <img class="about-icon" src="/images/medcare.svg">
            </div>
          </div>
          <div class="col s12 m9 l9 about-cont">
            <h4 class="about-h">Cuidado Médico</h4>
            <p class="about-p2">Todas nuestras alianzas con especialistas médicos, clínicas, hoteles y agencias turísticas representan el nivel más alto de profesionalismo en Colombia.</p>
          </div>
</div>
<div class="row about wow fadeIn">
          <div class="col s12 m3 center-align">
            <div class="image-container">
              <img class="about-icon" src="/images/doctor.svg">
            </div>
          </div>
          <div class="col s12 m9 l9 about-cont">
            <h4 class="about-h">Tratamiento & Apoyo</h4>
            <p class="about-p2"> Como facilitadores de turismo médico, nos encargamos de cada uno de nuestros clientes desde el primer momento en que nos eligen, haciendo un acompañamiento continuo durante la elección del médico, la llegada a nuestro país, durante la intervención médica y su recuperación. Así como en su elección turística, el regreso a su país y finalmente haciendo seguimiento telefónico después de la llegada a su país de origen. </p>
          </div>
</div>
<div class="row about wow fadeIn">
          <div class="col s12 m3 center-align">
            <div class="image-container">
              <img class="about-icon" src="/images/ambulance.svg">
            </div>
          </div>
          <div class="col s12 m9 l9 about-cont">
            <h4 class="about-h">Servicios adicionales y de interpretación</h4>
            <p class="about-p2">Adicionalmente, nuestros clientes tendrán acompañamiento de intérprete si así lo requieren, además de transporte y asistencia médica 24 horas. Queremos asegurarnos que a través del profesionalismo de nuestro personal, el carisma, la alegría y calidez de los colombianos, junto con la belleza de nuestro país, nuestros clientes reciban un cuidado médico de excelente calidad y que además disfruten de las mejores vacaciones de sus vidas.</p>
          </div>
</div>

<div class="divider"></div>
</div>
<div class="divider"></div>
<!-- =========================STEP BY STEP============================ -->

  <!-- STEPS -->
  <section id="Steps" class="steps-section wow fadeIn">

    <h2>
      El cronograma de tu viaje
    </h2>

    <div class="steps-timeline">

      <div class="steps-one">
        <div class="steps-img z-depth-1">
        {% include mail.svg %}
        </div>
        <h3 class="steps-name">
          Contacto
        </h3>
        <p class="steps-description first-step-description">
          Sólo tienes que hacer una llamada o enviarnos un correo. Vamos a estar felices de poder guiarte en este proceso y resolver todas tus dudas. 
        </p>
      </div>

      <div class="steps-two">
         <div class="steps-img z-depth-1">
         {% include file.svg %}
        </div>
        <h3 class="steps-name">
          Propuesta
        </h3>
        <p class="steps-description">
           Basados en tus necesidades obtendrás una lista de los mejores especialistas que te podrán atender, para que puedas elegir con el que mejor te sientas. 
        </p>
      </div>

      <div class="steps-three">
         <div class="steps-img z-depth-1">
         {% include calendar.svg %}
        </div>
        <h3 class="steps-name">
          Planeación
        </h3>
        <p class="steps-description">
          Nosotros nos encargamos de organizar todo tu viaje, incluyendo boletos aéreos, hospedaje, el tratamiento médico y todos los servicios adicionales que puedes obtener con nosotros.
        </p>
      </div>
      
      <div class="steps-four">
         <div class="steps-img z-depth-1">
         {% include stethoscope.svg %}
        </div>
        <h3 class="steps-name">
          Tratamiento
        </h3>
        <p class="steps-description">
          Basado en los requerimientos del especialista serás admitido en la institución médica para tu procedimiento. Una vez hayas recibido el tratamiento médico, tendrás a tu disposición un equipo especializado de recuperación, según tu necesidad. Go For Care estará contigo durante todo este tu proceso. 
        </p>
      </div>
      
      <div class="steps-five">
         <div class="steps-img  z-depth-1">
         {% include palm.svg %}
        </div>
        <h3 class="steps-name">
          Vacaciones
        </h3>
        <p class="steps-description">
           Podrás disfrutar de los maravillosos paisajes y lugares que Colombia tiene para ofrecer. Nosotros nos encargaremos de la organización del viaje, basados en tus gustos y necesidades.
        </p>
      </div>
      
      <div class="steps-six">
         <div class="steps-img z-depth-1">
         {% include home.svg %}
        </div>
        <h3 class="steps-name">
          Regreso a casa
        </h3>
        <p class="steps-description">
           Una vez que estés listo podrás regresar a casa. No te preocupes, vamos a seguir en contacto y en seguimiento de tu recuperación.
        </p>
      </div>
      

    </div><!-- /.steps-timeline -->

  </section>


</div>
</div>
</div>
<div class="plan-bg">

  <div class="divider"></div>

<h2 class="wow fadeIn"> Servicios Principales </h2>
   <div class="row about">
    <div class="col s12 m6 l3 center-align wow fadeIn">
      <img class="basic-serv" src="/images/ticket.svg">
      <h5 class="center-align">Reservación de boletos aéreos </h5>
    </div>
    <div class="col s12 m6 l3 center-align wow fadeIn">
      <img class="basic-serv" src="/images/shuttle.svg">
      <h5 class="center-align">Transporte Aeropuerto - Hotel - Aeropuerto</h5>
    </div>
    <div class="col s12 m6 l3 center-align wow fadeIn">
      <img class="basic-serv" src="/images/first_opinion.svg">
      <h5 class="center-align">Contacto directo con especialista</h5>
    </div>
    <div class="col s12 m6 l3 center-align wow fadeIn">
      <img class="basic-serv" src="/images/iphone.svg">
      <h5 class="center-align">Línea telefónica</h5>
    </div>
  </div>
  <div class="center-align">
  <a href="/services/"><button class="waves-effect waves-light btn-large service-btn">Conoce más de nuestros servicios</button></a>
  </div>
  {% include ekg_svg.html %}


  
{% include planselector_es.html %}
